.navbar
  .navbar-inner
    .container
      %a.brand{:href => GALLERY_NAMESPACE} Gallery

    %ul.breadcrumb
      - breadcrumbs = @directory.breadcrumbs
      - breadcrumbs.each_with_index do |item, index|
        - css_class = index == breadcrumbs.size - 1 ? 'active' : nil
        %li{:class => css_class}
          = link_to item.title, item.original_url
          %span.divider /

.row-fluid
  .span12
    %ul.thumbnails
      - if @directory.can_back?
        %li.span2
          %a.thumbnail{:href => @directory.back_item.original_url}
            = image_tag @directory.back_item.thumbnail_url, :size => '128x128'
            %h6 &#x2022;&#x2022;

      - @directory.directory_items.each do |item|
        %li.span2
          %a.thumbnail{:href => item.original_url}
            = image_tag item.thumbnail_url, :size => '128x128'
            %h6{:title => item.title}= item.title

      - @directory.picture_items.each do |item|
        %li.span2
          %a.thumbnail{:href => item.resize_1024x768_url, :rel => 'album', :class => 'fancybox'}
            = image_tag item.thumbnail_url, :size => '128x128'
            %h6{:title => item.title}= item.title

      - @directory.video_items.each do |item|
        %li.span2
          %a.thumbnail{:href => '#player', :rel => 'album', :class => 'fancybox', :data => { :href => item.original_url, :preview => item.resize_1024x768_url }}
            = image_tag item.thumbnail_url, :size => '128x128'
            %h6{:title => item.title}= item.title

    #player{:style => 'display: none; width: 100%; height: 100%; overflow: hidden;'}

:javascript
  $(document).ready(function() {
    $f('player', '/flowplayer/flowplayer-3.2.14.swf');

  	$(".fancybox").fancybox({
      openEffect	: 'none',
      closeEffect	: 'none',
      prevEffect    : 'none',
      nextEffect    : 'none',
      mouseWheel    : true,
      autoSize: false,
      helpers	: {
        title	: {
          type: 'outside'
        },
        overlay	: {
          opacity : 0.8,
          css : {
            'background-color' : '#000'
          }
        },
        thumbs	: {
          width	 : 128,
          height : 128
        }
      },
      beforeLoad: function() {
        var data_href = $(this.element).attr('data-href');
        var data_preview = $(this.element).attr('data-preview');
        if (data_href) {
          $f('player').getConfig()['canvas'] = { backgroundImage: data_preview }
          $f('player').play(data_href);
        } else {
          $f('player').stop();
        }
        return true;
      },
      afterClose: function() {
        $f('player').stop();
        return true;
      }
  	});
  });